entrypoint = "main.py"

modules = ["python-3.10"]

audio = true

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[workflows]
runButton = "Run Game"

[[workflows.workflow]]
name = "Run Game"
author = 39646444

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_game.py"
